<div class="row">
  <div class="col-md-6">
    <h3>July 6, The Unix Shell (part 1)</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>13:00</td>  <td>Introduction, Navigating and Working with Files and Directories, Pipes</td> </tr>
      <tr> <td>14:50</td>  <td>Break</td> </tr>
      <tr> <td>15:00</td>  <td>Filters, Loops, Scripts</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up, END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>July 8, The Unix Shell (part 2), Version Control with Git</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Shell: Finding Things</td> </tr>
      <tr> <td>13:50</td>  <td>Git: Version Control, Setup, Creating Repositories</td> </tr>
      <tr> <td>14:50</td>  <td>Break</td> </tr>
      <tr> <td>15:00</td>  <td>Git: Tracking Changes and History, Ignoring Things, Remotes, Collaborating, Conflicts, Open Science</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up, END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>July 13, Programming with Python (part 1)</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Fundamentals, Analysing Data</td> </tr>
      <tr> <td>14:50</td>  <td>Break</td> </tr>
      <tr> <td>15:00</td>  <td>Loops, Lists, Analyzing Data in Multiple Files, Making Choices</td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up, END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>July 15, Programming with Python (part 2)</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Creating Functions, Errors and Exceptions, Defensive Programming</td> </tr>
      <tr> <td>14:50</td>  <td>Break</td> </tr>
      <tr> <td>15:00</td>  <td>Debugging, Command-Line Programs</td> </tr>
      <tr> <td>17:00</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>Wrap-up, END</td> </tr>
    </table>
  </div>
</div>
